*{
	border: 1px black solid;
	padding: 20px;
}
header {
background-color:#FFED74;
}
nav {
background-color: #E8C66A;
}
aside {
background-color:#FFC675;
}
article{
background-color:#E89C6C;
}
footer{
background-color:#FF957E;
}
div{
background-color:#FFE2B8;
}
#photo{
	width: 50%;
}